[submodule "ut_automata"]
	path = ut_automata
	url = https://github.com/artzha/ut_automata.git
[submodule "amrl_msgs"]
	path = amrl_msgs
	url = https://github.com/ut-amrl/amrl_msgs.git
[submodule "amrl_maps"]
	path = amrl_maps
	url = https://github.com/ut-amrl/amrl_maps.git
